#!/bin/bash

export PATH="$HOME/.config/scripts:$PATH"

# config "desktop"
{{ if eq .chezmoi.hostname "desktop" }}

xrandr --output HDMI-0 --mode 2560x1440 --rate 99.97
xset s off
xset -dpms
xset s noblank

# config "laptop"
# {{ else if eq .chezmoi.hostname "laptop" }}

{{ end }}


# Config comuni

slstatus &
~/.fehbg &
exec dwm
