#!/bin/bash

# Imposta tipo di sessione
export XDG_SESSION_TYPE=x11

# Config "desktop"
{{ if eq .chezmoi.hostname "desktop" }}
xrandr --output HDMI-0 --mode 2560x1440 --rate 99.97
xset s off
xset -dpms
xset s noblank

# Config "laptop"
# {{ else if eq .chezmoi.hostname "laptop" }}
# xrandr --output eDP-1 --mode 1920x1080 --rate 60
{{ end }}

# Config comuni
slstatus & disown
~/.config/.fehbg & disown
exec dwm
