#!/bin/bash

# PATH per dwm / dmenu
export PATH="$HOME/.local/bin:$PATH"

# Imposta tipo di sessione
export XDG_SESSION_TYPE=x11

# Config "desktop"
{{ if eq .chezmoi.hostname "desktop" }}
xrandr --output HDMI-0 --mode 2560x1440 --rate 99.97
xset s off
xset -dpms
xset s noblank
xmodmap ~/.config/.Xmodmap &

# Config "laptop"
{{ else if eq .chezmoi.hostname "laptop" }}
xrandr --output eDP-1 --mode 1920x1080 --rate 60
{{ end }}

# Config comuni
slstatus &
~/.config/.fehbg &
exec dwm
